html,
body {
  height: 100%;
}
@keyframes animated {
	from { opacity: 0; }
  to { opacity: 1; }
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color:#f5f5f5;
  background-image: url("../img/_all__dribbble_.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* animation: animatedBackground 3s linear; */
}

.form-signin {
  width: 100%;
  max-width: 430px;
  padding: 5px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#custom-alert {
  top: 10px;
  position: fixed;
}
#logo{
  animation:animated 2s linear;
}